<h1><%=@cat.name%></h1>
<%jon = "http://s3-us-west-2.amazonaws.com/aa-progress-tracker/students/avatars/000/002/149/medium/Jonathan_Lofton.jpg?1496696094" %>
<%daniel = "http://s3-us-west-2.amazonaws.com/aa-progress-tracker/students/avatars/000/002/159/medium/Daniel_Kwon_2.jpg?1496695598" %>
<% if @cat.name == "Jon"%>
  <img src="<%= jon %>">
<%end%>
<% if @cat.name == "Daniel"%>
  <img src="<%= daniel %>">
<%end%>


<table>

  <tr>
    <th>Age</th>
    <td><%=@cat.age%></td>
  </tr>

  <tr>
    <th>Sex</th>
    <td><%=@cat.sex%></td>
  </tr>

  <tr>
    <th>Color</th>
    <td><%=@cat.color%></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%=@cat.description%></td>
  </tr>

</table>
